body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6em;
    color: #333;
}

img {
    display: block;
    width: 30vw;
    height: auto;
}

#container {
    display: flex;
    gap: 10px;
    margin: 90px;

    align-items: center;
    justify-content: space-evenly;
}

h1 {
    color: rgb(235, 153, 0);
}

#text {
    width: 40vw;}

p {
    font-weight: 300;
}

span {
    background-color: #FFD596;
}

/* ------ bibliography styling ------ */

#bibliography {
    margin: 90px auto;
    width: 50vw;
}

strong {
    font-weight: 600;
}

.citation {
    color: #7a7a7a;
    font-size: 0.8em;
}

#bibliography h2 {
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: #ca7900;
}

a:hover {
    color: #24309a;
}

