body {
    padding:0; 
    margin:0;
    background-color: rgb(221, 221, 221);

    font-family: 'VT323', monospace;
    font-size: 1.3em;
}

header {
    width: 100vw;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 5px;
}

p {
    margin: 0px 0px 10px;
}

.hide {
    display: none;
}

#canvas {

    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

#mockCanvas {
    width: 1000px;
    height: 600px;

    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.rock {
    position: absolute;
    width: 32px;
    height: 24px;

    bottom: 14.5%;
    right: 12.8%;
    z-index: 5;
}

.rock canvas,
.rock .logo-mask {
    display: block;
    width: 32px;
    height: 24px;
}

.logo-mask {
    position: absolute;
    bottom: 0%;
    right: 0%;
    background-size: 32px;
    background-image: url("images/rock.png");
    /* text-indent: -9999px; */
}

footer {
    display: flex;
    justify-content: space-evenly;
    
    width: 100vw;
    position: fixed;
    bottom: 0;
    text-align: center;

    padding: 15px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #093aff;
}