/* ------ GENERAL STYLING  ------- */

body {
    padding:0; 
    margin:0;
    overflow: hidden;
    background-color: rgb(221, 221, 221);

    font-family: 'VT323', monospace;
    font-size: 1.3em;
}

header {
    width: 100vw;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 5px;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

p {
    margin: 0px 0px 8px;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

button:hover {
    cursor: pointer;
}

#canvas {
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

#overlayBg {
    width: 1000px;
    height: 550px;
    background-color: rgba(45, 45, 45, 0.7);
    
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

/* ------ OPENING OVERLAY STYLING  ------- */

#overlay {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 400px;

    background-color: antiquewhite;
    border-radius: 15px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;

    z-index: 4;
    padding: 50px;
}

.missionInfo h2 {
    margin-top: 15px;
}

.agentInfoIntro {
    display: flex;
    flex-direction: row;
    gap: 15px;

    margin-bottom: 8px;
}

.sealImg {
    align-self: center;
    justify-self: center;
}

#missionBtn, #endBtn {

    border-radius: 8px;
    width: fit-content;
    margin-top: 15px;
    padding: 10px 15px;

    background-color: rgb(76, 76, 76);
    color: aliceblue;
}

#missionBtn:hover, #endBtn:hover {
    background-color: aliceblue;
    color: rgb(62, 62, 62);
}

/* ------ INSTRUCTIONS STYLING  ------- */

#instructions, #seal {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 450px;

    background-color: antiquewhite;
    border-radius: 15px;
    text-align: center;

    z-index: 3;
    padding: 30px;
}

#instructionsContent {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-top: 30px;
}

#instructions h3 {
    margin: 10px;
}

#instructionsContent p {
    font-size: 24px;
}

#move p {
    margin: 8px;
}

#move div {
    margin-bottom: 30px;
}

#questInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    align-items: center;
}

#questInfo p {
    font-size: 21px;
    text-align: left;

    justify-self: left;
}

#questInfo img {
    justify-self: right;
}



/* ------ INVENTORY STYLING  ------- */

#inventory {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 450px;

    background-color: antiquewhite;

    display: grid;
    grid-template-columns: 150px 615px;
    border-radius: 15px;
    gap: 15px;
    justify-items: center;

    z-index: 2;
    /* padding: 15px; */
}

#itemList {
    background-color: rgb(245, 245, 245);
    border-radius: 15px 0px 0px 15px;

    padding: 15px 30px;
}

#itemList div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* background-color: salmon; */
}

#inventory h2 {
    padding-top: 15px;
}

#itemList button {
    background-color: transparent;
    border: none;

    font-size: 24px;
    padding: 8px;
}

#itemList button:hover {
    cursor: pointer;
    color: chocolate;
    text-decoration: underline wavy;
}

#itemContent {
    padding: 15px 15px 15px 30px;
    width: 575px;

    background-color: antiquewhite;

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}

#itemName {
    margin-top: 30px;
    margin-bottom: 8px;
}

/* #itemContent div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
} */

#close {
    position: absolute;
    right: 5%;
    top: 5%;
}

#close:hover {
    cursor: pointer;
}

/* ------ END OVERLAY STYLING  ------- */

#seal {
    height: fit-content;
    padding: 50px;
    border-radius: 15px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    text-align: left;
    z-index: 2;
}

#itemContent img {
    align-self: center;
}

.agentName {
    align-self: center;
}

#endText {
    margin-top: 30px;
    justify-self: center;
}
