body {
    padding:0; 
    margin:0;
    overflow: hidden;
    background-color: rgb(221, 221, 221);

    font-family: 'VT323', monospace;
    font-size: 1.3em;
}

header {
    width: 100vw;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 5px;
}

h2 {
    margin: 0;
}

p {
    margin: 0px 0px 10px;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

button:hover {
    cursor: pointer;
}

#canvas {
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

#overlay {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 400px;

    background-color: antiquewhite;

    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;

    padding: 50px;
}

#overlayBg {
    width: 1000px;
    height: 550px;
    background-color: rgba(45, 45, 45, 0.7);
    
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

#inventory {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 450px;

    background-color: antiquewhite;

    display: grid;
    grid-template-columns: 0.25fr 1fr;
    gap: 15px;
    justify-items: center;

    z-index: 1;
    padding: 15px;
}

#itemList div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: salmon;
}

#inventory h2 {
    padding-top: 15px;
}

#itemList button {
    background-color: transparent;
    border: none;

    font-size: 24px;
    padding: 8px;
}

#itemList button:hover {
    cursor: pointer;
    color: chocolate;
    text-decoration: underline wavy;
}

#close {
    position: absolute;
    right: 5%;
    top: 5%;
}

#close:hover {
    cursor: pointer;
}